.conteudo-center{
  box-sizing: border-box;
  padding: 10% 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.auto-Complete{
  border-top: 1px solid #999;
  box-sizing: border-box;
  padding: 20px 0;
}
.conteudo-center h1{
  margin-bottom: 10px;
  font-size: 20px;
  color: #999;
}
.AutoCompleteInput{
    box-sizing: border-box;
    padding: 0 10px;
    margin: 10px 0;
    height: 50px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 15px;
}
.data-sexo{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.AddressFormated{
  height: 50px; 
  box-sizing: border-box; 
  padding: 0 20px;
  -webkit-box-shadow: 9px 9px 5px 0px rgba(44, 50, 50, 0.14);
  -moz-box-shadow:    9px 9px 5px 0px rgba(44, 50, 50, 0.14);
  box-shadow:         9px 9px 5px 0px rgba(44, 50, 50, 0.14);
  margin: 0 auto;
  width: max-content;
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.AddressFormated h1{
  font-size: 20px;
}

@media only screen and  (max-width: 500px) {
  .AddressFormated h1{
    font-size: 15px;
  } 
  .AddressFormated svg{
    size: 30px
  }
}